@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@font-face{
    font-family:'Adobe Garamond Pro';
    src:url("./Assets/Font/Adobe Garamond Pro Regular/Adobe Garamond Pro Regular.ttf") format("opentype");
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    color:#ffffff;
    font-family: 'Montserrat';
    font-style: normal;
}

:root{
    --font-h1: 60px;
    --font-h3: 18px;
    --prime-color-1: #14274A;
    --prime-color-2: #E0B973;
}

.m-width{
    max-width: 1440px;
    margin:auto;
}



/* Header style with media Query */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 1;
    background-color: transparent;
    padding: 0px 121px;
}
header .logo{
    display: flex;
    width: 45%;
}
header .logo div {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: -30px;
}
header .logo div img{
    height: 85px;
    width: 180px;
}

header .menu{
    width: 55%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}
li{
    list-style: none;
}
header .menu li a{
    color: #ffffff;
    font-size: var(--font-h3);
    font-weight: 600;
    line-height: 30.48px;
    margin: 0 30px;
    padding: 5px 2px;
}
header .menu li a:hover{
    border-bottom: solid #ffffff 2px;
    
    color:aliceblue;
}
header .toggle{
    cursor: pointer;
    display: none;
}
header .toggle .bars{
    background: #999;
    display: inline-block;
    height: 2px;
    position :relative;
    width: 18px;
}
header .toggle .bars::before, header .toggle .bars::after{
    background-color: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 22px;
}
header .toggle .bars::before{
    top:7px;
}
header .toggle .bars::after{
    top:-7px;
}



/* Hero section style with media Query */
.herosection{
    background-image: url("./Assets/heroback.png");
    height: 105vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -150px;
    display: flex;
}
.hero{
    display: flex;
    align-items: center;
    width: 100%;
}
.herosection .hero .content{
    padding-left: 121px;
    width:40%;
    margin-bottom: 20px;
}
.herosection .hero .content h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
}
.herosection .hero .content h1{
    font-family: 'Adobe Garamond Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 80px;
    letter-spacing: 0.07em;
}

.herosection .hero .content h2{
    font-family: 'Adobe Garamond Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 43px;
    letter-spacing: 0.4em;
}
.herosection .hero .content p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
}
.herosection .hero .btn{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5px;
    left: 46%;
    align-items: center;
}
.herosection .hero .btn button{
    padding: 15px 18px;
    background: #E0B973;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
.herosection .hero .btn button img{
    width: 15px;
    height: 15px;
    margin-right: 15px;
}
.herosection .hero .btn p{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-top: 30px;
    margin-bottom: 15px;
}


/* aboutus section style with media Query */
.about{
    width: 100%;
    height:max-content;
    padding: 76px 121px 76px 121px;
    
}
.about .container{
    display: grid;
    grid-template-columns: 50% 50%;
    color: black;
}
.about .container .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about .container .content h4{
    font-family: 'Adobe Garamond Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #E0B973;
}
.about .container .content p{
    font-weight: 700;
    font-size: 48px;
    padding-right: 20%;
    line-height: 50px;
    color: #14274A;
}

.about .container .image img{
    width: 100%;
    height: 100%;
}
.about .container .content button{
    width: fit-content;
    padding: 15px 18px;
    background: #E0B973;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

/* booking section style with media Query */
.booking{
    background-color: #000000;
    height: max-content;
}

.booking .content{
    padding: 76px 121px;
}

.booking .content h2{
    font-family: 'Adobe Garamond Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #E0B973;
}
.booking .content p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.booking .content .form{
    display: flex;
    margin-top: 50px;
}
.booking .content .form .items i{
    font-size: 22px;
    margin:0 10px;
}
.booking .content .form .items{
    flex-basis: 20%;
    padding-right: 20px;
}
.booking .content .form .items span{
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #E0B973;
}
.booking .content .form .items select,input{
    background: transparent;
    margin-top: 9px;
    color: #FFFFFF;
    opacity: 70%;
    padding : 10px 20px;
    height: 50px;
    width: 100%;
    font-size: 15px;
    border-radius: 200px;
}
.booking .content .form .items select option{
    border: 1px solid white;
    background-color: black;
    color: #FFFFFF;
    cursor: pointer;
}
.booking .content .form .btn{
    display: flex;
    align-items: flex-end;
}
.booking .content .form .btn input{
    background: #E0B973;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 200px;
}


/* facilities section style with media Query */
.facilities{
    height: max-content;
    color: #000000;
    padding: 76px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.facilities .content{
    display: flex;
    flex-direction: column;
    padding: 0px 230px;
    justify-content: center;
}
.facilities .content h2{
    font-family: 'Adobe Garamond Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #E0B973;
}
.facilities .content p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #14274A;
}
.facilities .facilitybox{
    background-color: #E0B973;
    margin-top: 30px;
    padding: 30px 0;
}
.facilities .facilitybox .facility{
    display: flex;
    justify-content: center;
    padding: 0px 300px;
}
.facilities .facilitybox .facility .face_icon{
    display: flex;
    flex-direction: column;
    flex-basis: content;
    padding: 0px 20px;
    
}
.facilities .facilitybox .facility .face_icon i,span{
    margin-top: 5px;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.facilities button{
    margin-top: 30px;
    align-self: center;
    width: fit-content;
    padding: 15px 18px;
    background: #000000;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

/* Gallery section style with media Query */
.gallery{
    padding: 0px 121px;
}
.gallery h2{
    font-family: 'Adobe Garamond Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 0.05em;
    color: #E0B973;
}
.gallery .row {
    margin-top: 27px ;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 15px;
}
.gallery .row img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}
.gallery #img1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery #img2{
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery #img3{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}
.gallery #img4{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;
}
.gallery #img5{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 9;
}
.gallery #img6{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 13;
}
.gallery #img7{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 13;
}
.gallery button{
    margin-top: 25px;
    padding: 15px 18px;
    background: #E0B973;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

/* testimonials section style with media Query */
.testimonials{
    padding: 121px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.testimonials h2{
    font-family: 'Adobe Garamond Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;
    color: #14274A;
}
.testimonials .review{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials .review p{
    font-weight: 400;
    font-size: 26px;
    line-height: 37px;
    color: #14274A;
}
.testimonials .review span{
    margin-top: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #14274A;
}
.testimonials .btn{
    display: flex;
}
.testimonials .btn button{
    margin: 25px 10px;
    padding: 15px 18px;
    background: #E0B973;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}



/*footer style*/
footer{
    
    background-color: #14274A;
    width: 100%;
}

footer .container{
    padding: 50px 121px;
    display: flex;
    flex-wrap: wrap;
}
footer .items{
    display: inline-block;
    margin: 10px 0 0 10px;
    flex-grow: 1;
}

footer .items img{
    height: 74px;
    width: 131px;
}
footer .items p,li{
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
}
footer .items li{
    margin-top: 30px;
}
footer .items li i{
    margin-right: 10px;
}

footer .items input{
    background: transparent;
    margin-top: 25px;
    color: #FFFFFF;
    opacity: 70%;
    padding : 6px 14px;
    height: 40px;
    width: 80%;
    font-size: 12px;
    border: 2px solid #E0B973;
    border-radius: 5px;
}
footer .items button{
    margin-left: -11px;
    padding : 6px 14px;
    background: #E0B973;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    height: 40px;
}

footer .box{
    position: relative;
    height: 100px;
    width: 100px;
    top: -100px;
    left: 46%;
    z-index: 2;
    background-color: #14274A;
    transform: rotate(45deg);
}




















