@media (min-width: 1440px) and (max-width: 1600px){
    html{font-size: 19px;
    }
}
@media (min-width: 1200px){
    html{
        font-size: 15px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    html{
        font-size: 14px;
    }
}
@media (min-width: 740px) and (max-width: 991px) {
    html{
        font-size: 13px;
    }
}
@media (max-width: 740px) {
    html{
        font-size: 11px;
    }
    .about .container{
        grid-template-columns: 100%;
    }
    .about .container .content p{
        padding-right: 0;
    }
    .about .container .image{
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 10px;
    }
    header .toggle {
        display: block;
    }
    header .menu {
        height: 100vh;
        position: absolute;
        text-align: center;
        display: none;
        right: 0;
        top: 0;
        width: 100%;
        background-color: #000000;
        flex-direction: column;
        justify-content: center;
    }
    header .menu.active{
        display: flex;
    }
    header li {
        padding: 20px 0;
    }
    header .menu li a{
        font-size: 3rem;
    }
}
@media all and (max-width:500px) {
    html{
        font-size: 8px;
    }
    .lr_padding{
        padding: 0 5%;
    }
    .pad{
        padding: 5.2% 5%;
    }
    .herosection .hero .content {
        width: 80%;
    }
    .herosection .hero .btn p {
        margin-top: 16px;
        margin-bottom: 7px;
    }
    
    .facilities .facilitybox .facility {
        display: flex;
        padding: 0px;
    }
    .facilities .facilitybox .facility .face_icon {
        padding: 0px 10px;
    }

    .booking .content .form .items {
        margin-top: 9px;
    }
    .booking .content .form .items select,
    input {
        margin-top: 10px;
    }
    
}