@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@font-face{
    font-family:'Adobe Garamond Pro';
    src:url("./Assets/Font/Adobe Garamond Pro Regular/Adobe Garamond Pro Regular.ttf") format("opentype");
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    color:#FFFFFF ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

:root{
    --prime-color-1: #14274A;
    --prime-color-2: #E0B973;
}
p{
    font-size: 1.125rem;
    line-height: 1.3rem;
    letter-spacing: 0.05em;
}
h2{
    font-size: 3rem;
    line-height: 3.1rem;
    letter-spacing: 0.05em;
    color: var(--prime-color-2);
}
h1,h2{
    font-family: 'Adobe Garamond Pro';
    font-style: normal;
    font-weight: 700;
}
.m-width{
    max-width: 1440px;
    margin:auto;
}
.lr_padding{
    padding: 0 8.4%;
}
.pad{
    padding: 5.2% 8.4%;
}
button{
    margin-top: 2rem;
    width: fit-content;
    padding: 0.8rem 1.3rem;
    background: var(--prime-color-2);
    border: 0px;
    border-radius: 5px;
    font-size: 1.125rem;
    line-height: 1.3rem;
    font-weight: 700;
}


/* Header style with media Query */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: transparent;
}
header .logo{
    display: flex;
}
header .logo div {
    padding: 2rem;
    background-color: #ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: -12px;
}
header .logo div img{
    height: 5.31rem;
    width: 11.25rem;
}
header .menu{
    display: flex;
    justify-content: flex-end;
}
header .menu li a{
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.3rem;
    margin: 0 30px;
    padding: 5px 2px;
}
header .menu li a:hover{
    border-bottom: solid #ffffff 2px;
    color:#FFFFFF;
}
header .toggle{
    cursor: pointer;
    display: none;
}
header .toggle .bars{
    background: #FFFFFF;
    display: inline-block;
    height: 4px;
    position :relative;
    width: 4rem;
}
header .toggle .bars::before, header .toggle .bars::after{
    background-color: #FFFFFF;
    content: "";
    display: inline-block;
    height: 4px;
    position: absolute;
    width: 4rem;
    right: 0.5rem;
}
header .toggle .bars::before{
    top:1.2rem;
}
header .toggle .bars::after{
    top:-1.2rem;
}


/* Hero section style with media Query */
.herosection{
    background-image: url("./Assets/heroback.png");
    height: 105vh;
    width: 100%;
    margin-top: -178px;
    padding-top: 40vh ;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero{
    display: flex;
    flex-direction: column;
}
.herosection .hero .content{
    width:40%;    
    height: 37vh;
}
.herosection .hero .content h3{
    font-size: 2rem;
    line-height: 2.1rem;
}
.herosection .hero .content h1{
    font-size: 6rem;
    line-height: 6.1rem;
    letter-spacing: 0.07em;
}
.herosection .hero .content h2{
    color: #FFFFFF;
}
.herosection .hero .content p{
    letter-spacing: 0.1em;
}
.herosection .hero .btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}
.herosection .hero .btn button img{
    margin-right: 15px;
}
.herosection .hero .btn p{
    margin-top: 2rem;
    margin-bottom: 1rem;
}



/* aboutus section style with media Query */
.about{
    width: 100%;
    height:max-content;
}
.about .container{
    display: grid;
    grid-template-columns: 50% 50%;
    color: black;
}
.about .container .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about .container .content h2{
    font-size: 1.37rem;
    line-height: 1.9rem;
}
.about .container .content p{
    font-weight: 700;
    font-size: 3rem;
    padding-right: 20%;
    line-height: 3.2rem;
    color: var(--prime-color-1);
}
.about .container .image img{
    width: 100%;
    height: 100%;
}

/* booking section style with media Query */
.booking{
    background-color: black;
    height: max-content;
}
.booking .content h2{
    text-align: center;
}
.booking .content p{
    margin-top: 10px;
    text-align: center;
    color: white;
}
.booking .content .form{
    display: grid;
    grid-template-columns: repeat(auto-fit,14.5rem);
    justify-content: center;
    margin-top: 50px;
}
.booking .content .form .items i{
    font-size: 1.38rem;
    margin:0 10px;
}
.booking .content .form .items{
    align-items: center;
    padding-right: 20px;
}
.booking .content .form .items span{
    font-weight: 500;
    font-size: 1.38rem;
    line-height: 2rem;
    text-align: center;
    color: var(--prime-color-2);
}
.booking .content .form .items select,input{
    background: transparent;
    margin-top: 9px;
    color: #FFFFFF;
    opacity: 70%;
    padding : 10px 20px;
    height: 4rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 200px;
}
.booking .content .form .items select option{
    border: 1px solid white;
    background-color: black;
    color: #FFFFFF;
    cursor: pointer;
}
.booking .content .form .btn{
    display: flex;
    align-items: flex-end;
    
}
.booking .content .form .btn input{
    background: var(--prime-color-2);
    color: #000000;
    border: 1px solid #000000;
    border-radius: 200px;
}


/* facilities section style with media Query */
.facilities{
    height: max-content;
    color: #000000;
    padding: 4.75rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.facilities .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.facilities .content h2{
    text-align: center;
}
.facilities .content p{
    margin-top: 10px;
    text-align: center;
    color: var(--prime-color-1);
}
.facilities .facilitybox{
    background-color: var(--prime-color-2);
    margin-top: 30px;
    padding: 30px 0;
}
.facilities .facilitybox .facility{
    display: flex;
    justify-content: center;
    padding: 0 20%;
}
.facilities .facilitybox .facility .face_icon{
    display: flex;
    flex-direction: column;
    flex-basis: content;
    padding: 0 1rem;
    
}
.facilities .facilitybox .facility .face_icon i,span{
    margin-top: 5px;
    color: #000000;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
}
.facilities button{
    align-self: center;
    background: #000000;
}

/* Gallery section style with media Query */

.gallery .row {
    margin-top: 27px ;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 1rem;
}
.gallery .row img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}
.gallery #img1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery #img2{
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery #img3{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}
.gallery #img4{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;
}
.gallery #img5{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 9;
}
.gallery #img6{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 13;
}
.gallery #img7{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 13;
}


/* testimonials section style with media Query */
.testimonials{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 50px 0;
}
.testimonials h2{
    color: var(--prime-color-1);
}
.testimonials .review{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials .review p{
    color: var(--prime-color-1);
    margin-top: 19px;
}
.testimonials .review span{
    font-size: 1.6rem;
    line-height: 2.3rem;
    color: var(--prime-color-1);
}
.testimonials .btn{
    display: flex;
}
.testimonials .btn button{
    margin: 25px 10px;
}
.testimonials .box{
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-bottom: -100px;
    z-index: -1;
    background-color: var(--prime-color-1);
    transform: rotate(45deg);
}

/*footer style*/
footer{
    background-color: var(--prime-color-1);
    width: 100%;
}
footer .container{
    padding: 50px 8.4%;
    display: flex;
    flex-wrap: wrap;
}
footer .items{
    display: inline-block;
    margin: 10px 0 0 10px;
    flex-grow: 1;
}
footer .items img{
    height: 74px;
    width: 131px;
}
footer .items p,li{
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
}
footer .items li{
    margin-top: 30px;
}
footer .items li i{
    margin-right: 10px;
}
footer .items input{
    background: transparent;
    margin-top: 25px;
    opacity: 70%;
    padding : 6px 14px;
    height: 50px;
    width: 80%;
    font-size: 12px;
    border: 2px solid var(--prime-color-2);
    border-radius: 5px;
}
footer .items button{
    margin: -10px 0px 0px -10px;
    font-size: 12px;
    height: 50px;
}
